
/**
 * 全局变量
 * 命名规范：xs < sm < md < lg < xl < xxl
 */

//  常用颜色
$c-white = #fff
$c-active = #c5f61c
$bgc-guanzhu = #f4f4f4
$bgc-vedioInfo = rgba(51,51,51,0.72)
$c-font-tabbar = #969696
$c-font-tabbar-active = #343434
$c-bd-tabbar-active = #FEDE33
$c-font-inactive = #999
$c-bd-indexItem = #eee
// 常用间距
$space-xxxxl = 140upx;
$space-xl = 40upx;
$space-lg = 32upx;
$space-md = 28upx;
$space-sm = 20upx;
$space-xs = 16upx;
$space-xxs = 12upx;
$space-xxxs = 10upx
$space-xxxxs = 8upx
// 常用字体
$font-xxl = 20px;
$font-xl = 18px;
$font-lg = 32upx;
$font-md = 14px;
$font-sm = 25upx;
$font-xs = 10px;

//  常用圆角
$radius-xxl  = 40upx
$radius-lg  = 20upx
$radius-xs = 5upx

